footer{
    margin-top: 100px;
    padding: 74px 440px;
    background-color: #E3E3E3;
    display: flex;
    justify-content: space-between;
}

.footer-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 339px;
}

.f-links{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer h4{
    font-family: "Jost";
    font-size: 20px;
    color: black;
    font-weight: 400;
    text-transform: uppercase;
}

.footer-info p{
    font-family: 'Jost';
    font-weight: 300;
    font-size: 18px;
}

.footer-info span{
    font-weight: 400;
    
}