@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=Marcellus&display=swap');

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: 'Jost';
}



a{
  color: inherit;
}

.container{
  max-width: 1420px;
  margin: 0 auto;
}

.title{
  font-size: 34px;
  font-family: 'Jost';
  color: black;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.categories-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: -200px;
}

.headlink{
  font-family: "Jost";
  letter-spacing: "2px";
  color: black;
  border-bottom: 2px solid #929292;
}

.sales{
  margin-top: 140px;
}

.sales-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sales-items{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales-button{
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.productpage{
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 220px;
  font-family: 'Jost';
  padding-bottom: 200px;
}

.productpage-images{
  display: flex;
  align-items: center;
  gap: 80px;
}

.subimages{
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.subimages img{
  width: 120px;
  height: 162px;
  object-fit: cover;
}

.main-img{
  height: 516px;
  width: 380px;
}

.colors{
  display: flex;
  gap: 16px;
}

.colorbtn{
  width: 37px;
  height: 37px;
  border-radius: 100px;
  border: none;
  outline: none;
  cursor: pointer;
}

.productpage-actions{
  display: flex;
  gap: 24px;
}

.productpage-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productpage-text h4{
  font-size: 40px;
}

.productpage-text h5{
  color: #8C907E;
  font-size: 24px;
  font-weight: 400;
}

.productpage p{
  color: rgba(0, 0, 0, 0.6);
  max-width: 360px;
  font-size: 13px;
}

.choose-color{
  display: flex; 
  flex-direction: column;
  gap: 20px;
}

.choose-color p{
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.path{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

.path-items{
  margin-top: 120px;
  display: flex;
  gap: 12px;
}

.catalog{
  margin-top: 30px;
  padding-left: 100px;
  padding-right: 235px;
  display: flex;
  gap: 100px;
}

.catalog-items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 70px;
}

.catalog-filter{
  display: flex;
  justify-content: flex-end;
}

.catalog-right{
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.catalog-path{
  padding-left: 110px;
}